<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <meta name="description"
        content="A completely free web hosting site that provides you with an amazing VS Code like editor and unlimited requests!">
    <meta name="keywords"
        content="code share, code sharing, free code hosting, free web hosting, unlimited web hosting, free web editor, free code editor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Your Code</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CJNVRR27NK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CJNVRR27NK');
    </script>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "gg1o7msyq7");
    </script>
</head>

<body>
    <h1>Options To Use Share Code</h1>
    <div class="btn new" onclick="window.location.href='https://share-code.top/new';">Create New Code</div>
    <div class="btn edit">Edit Existing Code</div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@400&display=swap');

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
    }

    .btn {
        width: calc(100% - 30px);
        color: white;
        background-color: blueviolet;
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        max-width: 500px;
        font-family: 'Barlow', sans-serif;
        cursor: pointer;
        user-select: none;
        transition: all .10s linear;
    }

    .btn:active {
        background-color: rgb(125, 40, 206);
    }

    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
</style>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        document.body.style.height = window.innerHeight + 'px';

        window.addEventListener('resize', () => {
            document.body.style.height = window.innerHeight + 'px';
        });

        document.querySelector('.edit').addEventListener('click', () => {
            let code = prompt('Enter Code Name:');
            if (code) {
                window.location.href = 'https://share-code.top/edit?id=' + code;
            }
        });
    });
</script>

</html>